body {
	background-color: #d6d6d6;
}

section {
	margin: 50px auto ;
	width: 94%;
}

ul.set {
	width: auto;
	float: left;
	background-color: #0F2C31;
	padding: 20px;
	margin: 10px;
}
ul.set li {
	list-style: none;
	display: inline-block;
	margin: 0;
	width: 100px;
	border: 1px #444 solid;
}
.one {
	width: 100px;
	overflow: hidden;
	float: left;
}

.color {
	width: 100px;
	height: 100px;
}
.color:hover{
	cursor: pointer;
}

input {
	width: 100px;
	margin: auto;
	border: none;
	border-top: 1px black solid;
}
h1 {
	text-align: center;
}
a {
	text-decoration: none;
	color: #E94962;
	-webkit-transition: all 0.2s ;
	-moz-transition: all 0.2s ;
	-ms-transition: all 0.2s ;
	-o-transition: all 0.2s ;
	transition: all 0.2s ;
}
a:hover {
	color: #56B9EE;
    -webkit-animation: anchorhover .2s;
    -moz-animation: anchorhover .2s;
	-ms-animation: anchorhover .2s;
    -o-animation: anchorhover .2s;
    animation: anchorhover .2s;
}

@keyframes anchorhover {
	100% {transform:  rotate(0deg);}
	25% {transform:  rotate(5deg);}
	75% {transform:  rotate(-5deg);}
	0% {transform:  rotate(0deg);}

}
@-webkit-keyframes anchorhover {
	100% {transform:  rotate(0deg);}
	25% {transform:  rotate(5deg);}
	75% {transform:  rotate(-5deg);}
	0% {transform:  rotate(0deg);}
}
@-moz-keyframes anchorhover {
	100% {transform:  rotate(0deg);}
	25% {transform:  rotate(5deg);}
	75% {transform:  rotate(-5deg);}
	0% {transform:  rotate(0deg);}
}
@-ms-keyframes anchorhover {
	100% {transform:  rotate(0deg);}
	25% {transform:  rotate(5deg);}
	75% {transform:  rotate(-5deg);}
	0% {transform:  rotate(0deg);}
}
@-o-keyframes anchorhover {
	100% {transform:  rotate(0deg);}
	25% {transform:  rotate(5deg);}
	75% {transform:  rotate(-5deg);}
	0% {transform:  rotate(0deg);}
}

nav {
	padding: 20px 40px;
	background-color: #0F2C31;
	color: #E3E1D5;
}
nav a {
	color: #9C8B8F;
}
nav a:hover {
	color: #E94962;
}
.right {
	float: right;
}
